.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  }
  
  @media (min-width: 1025px) {
  .h-custom-2 {
  height: 100%;
  }
  }

  .contenedor {
    text-align: right; /* Alinea el contenido a la derecha */
}

.custom-img {
    max-width: 100%; /* Opcional: para asegurarse de que la imagen no se salga del contenedor */
    margin-left: auto; /* Centra horizontalmente */
    margin-right: auto; /* Centra horizontalmente */
}

.blue-background {
  background-color: blue;
  color: white;
}
